<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>New Message</title>
</head>

<body>
    <div class="background"></div>

    <div class="overlay">
        <h1>Create a New Message</h1>

        <form action="/new" method="POST" class="form-card">
            <label>Your Name:</label>
            <input type="text" name="user" required>

            <label>Message:</label>
            <textarea name="text" required></textarea>

            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
</body>

</html>